@model DatabaseStuff.Models.Champion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete it?</h3>
<h4>Champion</h4>

<dl>
    <dt> @Html.DisplayNameFor(c => c.ImageURL)</dt>
    <dd> @Html.DisplayFor(c => c.ImageURL)</dd>

    <dt> @Html.DisplayNameFor(c => c.Name)</dt>
    <dd> @Html.DisplayFor(c => c.Name)</dd>

    <dt> @Html.DisplayNameFor(c => c.Title)</dt>
    <dd> @Html.DisplayFor(c => c.Title)</dd>

    <dt> @Html.DisplayNameFor(c => c.Role)</dt>
    <dd> @Html.DisplayFor(c => c.Role)</dd>

    <dt> @Html.DisplayNameFor(c => c.Description)</dt>
    <dd> @Html.DisplayFor(c => c.Description)</dd>

</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete Record">
    @Html.ActionLink("Back to list", "Index")
}
    



